<html>
    <head>
        {% include 'head_default.html' %}
    </head>

    <body>

        {% include 'nav.html' %}

        <div class="container">

            <h1>Oops! Something Went Wrong</h1>
            <p>We're sorry, but something went wrong on our end. Please try the following:</p>
            <ul>
                <li>Reload the page</li>
                <li>Go back to the <a href="/">homepage</a> and try again</li>
            </ul>
            <p>If the problem persists, please reach out with the following details to help debug the issue:</p>
            <pre>Path: {{ path }}</pre>
            <pre>Method: {{ method }}</pre>
            <pre>Text Input Length: {{ text_input_length }}</pre>
            <pre>Text Input (first 1000 chars): {{ text_input }}</pre>
            <pre>Text Output Length: {{ text_output_length }}</pre>
            <pre>Text Output (first 1000 chars): {{ text_output }}</pre>
            <pre>Session Data: {{ user_session_data }}</pre>
            <p>Email me at <a href="mailto:skrutable@gmail.com">skrutable@gmail.com</a> with the above information. You can also directly open a <a href="https://github.com/tylergneill/skrutable_front_end/issues">GitHub issue</a>. Thank you for your patience!</p>

        </div><!-- /.container -->

    </body>

</html>