<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

            <h1>skrutable</h1>

            <p>For making Sanskrit "less inscrutible" for anyone interested, and because I like Maharashtrian pronunciation. :)</p>

            <p><b>skrutable</b> is an online workbench providing transliteration, scansion, and meter identification for Sanskrit text.
            Although there are
            <a href="https://github.com/tylergneill/skrutable/blob/master/manual.md#related-projects">
            other such tools</a> already out there with advantages of their own, <b>skrutable</b> brings several new things to the table:

                <ul>
                    <li>integrated and user-friendly access to numerous functions in one place</li>
                    <li>modular and documented Python code meant to be readable and useable for various projects
                    (like <a href="https://www.github.com/tylergneill/pramana-nlp">this one</a>)</li>
                    <li>and some handy new features</li>
                    <ul>
                        <li>for transliteration, practical "virāma-avoidance" for Indic scripts (e.g., “asty eva” >> (“अस्त्य् एव”) >> “अस्त्येव”)</li>
                        <li>for scansion and meter identification, a flexible range of detail output options
                        (like gaṇa abbreivations and syllable-weight alignments)</li>
                        <li>for meter identification, optional automatic re-splitting of pādas</li>
                        <li>for transliteration and meter identification, easy whole-file analysis</li>
                    </ul>
                </ul>

            </p>

            <p>I'm hoping this will support a range of users, from beginning students to advanced scholars,
            in their understanding and enjoyment of Sanskrit language and literature.

            <p>I'm also hoping it will help improve the world's stock of digital Sanskrit data. You can help!
            Check out the <a href="./scanGRETIL">"Scan GRETIL"</a> project to learn more.</p>

            <h2>Feedback</h2>

            <p>
                <ul>
                    <li>Did you find a bug 🐞 and see <b>skrutable</b> break?</li>
                    <li>Would you like to see additional transliteration schemes? Additional meters?</li>
                    <li>Do you have suggestions regarding aesthetics or ease-of-use?</li>
                </ul>
            </p>

            <p>I'd love to hear from you.
            Find <a href="https://uni-leipzig1.academia.edu/TylerNeill">me on Academia</a> and send me an email.</p>

            <h2>Technical</h2>

            <p>For those so inclined:
            <ul>
                <li>The underlying code is a <a href="https://www.github.com/tylergneill/skrutable">Python library available here on GitHub</a>.</li>
                <li>The web interface is HTML, Bootstrap CSS, Javascript, and Python's Flask web-app framework, hosted by PythonAnywhere. Its <a href="https://www.github.com/tylergneill/skrutable_front_end">separate GitHub repo</a> interacts with the above and can be run locally.</li>
                <li>Here's <a href="./next">a list of technical things to fix and add next</a>.</p></li>
            </ul>

        </div><!-- /.container -->

    </body>

</html>
