<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->

        </nav>

        <div class="container">

            <h1>skrutable</h1>

            <p>For making Sanskrit "less inscrutible" for anyone interested, and because I like Maharashtrian pronunciation. :)</p>

            <p><b>skrutable</b> is a toolkit and online workbench providing useful functions for working with Sanskrit text,
            specifically: transliteration, scansion, meter identification,
            and (through the <a href="https://github.com/OliverHellwig/sanskrit/tree/master/papers/2018emnlp">amazing work of Oliver Hellwig and Sebastian Nehrdich</a>)
            sandhi and compound splitting.</p>

            <p><a href="https://github.com/tylergneill/skrutable/blob/master/manual.md#related-projects">Other tools</a> have their advantages, too,
            but <b>skrutable</b> brings several new things to the table, including, among other things:
            <ul>
                <li>integrated and user-friendly access to diverse functionality in one place</li>
                <li>modular design for use in other coding projects</li>
                <li>and handy new features, such as</li>
                <ul>
                  <li>clear and customizable scansion output in plain-text</li>
                  <li>optional pāda re-splitting for meter identification</li>
                  <li>multiple suggestions for recitation melodies (<a href="./reciters">learn more about the reciters</a>)</li>
                  <li>one-click Splitter access</li>
                  <li>uploading for fast whole-file processing</li>

                </ul>
            </ul>
            </p>

            <p>Whether you're a beginning student or advanced scholar,
            Skrutable is there to help you understand and enjoy Sanskrit language and literature.

            <p>You can also participate in using it to improve the world's stock of digital Sanskrit data.
            Check out the <a href="./scanGRETIL">"Scan GRETIL"</a> page to learn more.</p>

            <h2>Feedback</h2>

            <p>
                <ul>
                    <li>Did you find a bug 🐞 and see <b>skrutable</b> break?</li>
                    <li>Or do you have any other comments or suggestions?</li>
                </ul>
            </p>

            <p>I'd love to hear from you. My name is Tyler, and my Gmail is tyler.g.neill.</p>

            <h2>Technical</h2>

            <p>For those so inclined:
            <ul>
                <li>The underlying code is a
                <a href="https://www.github.com/tylergneill/skrutable">Python library available on GitHub</a>,
                plus an <a href="https://www.github.com/tylergneill/skrutable_front_end">associated Flask front-end</a>, currently deployed on PythonAnywhere.</li>
                <li>Here's the public <a href="./next">list of tasks</a>, both upcoming and recently completed.</p></li>
            </ul>

        </div><!-- /.container -->

    </body>

</html>
