<html>
    <head>
        {% include 'head_default.html' %}
        <meta property='og:title' content='skrutable'/>
        <meta property='og:image' content='/assets/ui_screenshot.png'/>
        <meta property='og:description' content='toolkit and online workbench providing useful functions for working with Sanskrit text'/>
        <meta property='og:url' content='https://www.skrutable.info'/>
    </head>

    <body>

        {% include 'nav.html' %}

        <div class="container">

            <form id="overall_form" action="/" method="POST">

                <!-- input row -->
                <div class="row">
                    <textarea id="text_input" name="text_input" class="form-control" rows="4" spellcheck="false" placeholder="Enter text here">{{ text_input }}</textarea>
                </div>

                <!-- output row -->
                <div class="row well blue-border-focus" style="height:350px;">
                    {{ output_HTML | safe }}
                    <input type="hidden" name="text_output" value="" />
                </div>

                <!-- controls row -->
                <div class="row">

                    <!-- input and output schemes, and swap buttons -->
                    <div class="col-md-4">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-6">
                                    <label for="from_scheme">Input Scheme</label>
                                    </br>
                                    <select name="from_scheme" id="from_scheme" class="btn-block">
                                        <optgroup label="Romanizations">
                                            <option value="IAST">IAST</option>
                                            <option value="HK">HK</option>
                                            <option value="SLP">SLP</option>
                                            <option value="ITRANS">ITRANS</option>
                                            <option value="VH">VH</option>
                                            <option value="WX">WX</option>
                                            <option value="IASTREDUCED" disabled>IAST reduced</option>
                                        </optgroup>
                                        <optgroup label="Indic Scripts">
                                            <option value="DEV">DEV</option>
                                            <option value="BENGALI">BENGALI</option>
                                            <option value="GUJARATI">GUJARATI</option>
                                        </optgroup>
                                    </select>
                                </div>

                                <div hidden class="col-md-6">
                                    <label for="to_scheme">Virāma Option</label>
                                    </br>
                                    <select name="virAma_option" id="virAma_option" class="btn-block">
                                        <option value="preserve_space">default: preserve</option>
                                        <option value="break_clusters">more virāmas</option>
                                        <option value="combine">less virāmas</option>
                                    </select>
                                </div>

                            </div>

                            </br>

                            <div class="row">

                                <div class="col-md-3">
                                    <!-- <label>Swap</label> -->
                                    <input id="swap_text_input_output" type="button" class="btn btn-block btn-primary" value="Txt ⇅" onclick="swapTexts();"/>
                                </div>
                                <div class="col-md-5">
                                    <input id="swap_from_to_scheme" type="button" class="btn btn-block btn-primary" value="Schemes ⇄" onclick="swapSchemes();"/>
                                </div>
                                <div class="col-md-4">
                                    <input id="swap_both" type="button" class="btn btn-block btn-primary" value="Both ⇅ ⇄" onclick="swapBoth();"/>
                                </div>
                            </div>
                            </br>

                        </div>
                    </div><!-- input and output schemes, and swap buttons -->

                    <!-- actions -->
                    <div class="col-md-8">

                        <!-- transliteration -->
                        <div class="col-md-3">
                            <input id="transliterate_button" type="submit" class="btn btn-block btn-primary" value="Transliterate" onclick="set_action('transliterate');"/>
                            <label for="to_scheme">Output Scheme</label>
                            </br>
                            <select name="to_scheme" id="to_scheme" class="btn-block">
                                <optgroup label="Romanizations">
                                    <option value="IAST">IAST</option>
                                    <option value="HK">HK</option>
                                    <option value="SLP">SLP</option>
                                    <option value="ITRANS">ITRANS</option>
                                    <option value="VH">VH</option>
                                    <option value="WX">WX</option>
                                    <option value="IASTREDUCED">IAST reduced</option>
                                </optgroup>
                                <optgroup label="Indic Scripts">
                                    <option value="DEV">DEV</option>
                                    <option value="BENGALI">BENGALI</option>
                                    <option value="GUJARATI">GUJARATI</option>
                                </optgroup>
                            </select>
                            </br>
                            <input id="transliterate_whole_file_button" type="submit" class="btn btn-block btn-primary" value="whole file ⇪" onclick="set_action('transliterate');" formaction="./wholeFile"/>
                            </br>
                        </div>

                        <!-- scansion -->
                        <div class="col-md-3">
                            <input id="scan_button" type="submit" class="btn btn-block btn-primary" value="Scan" onclick="set_action('scan')"/>
                            <label>Scansion Detail</label>
                            </br>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="checkbox" id="weights" name="scan_detail" value="weights" checked/>
                                    <label for="weights">lglgl</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" id="morae" name="scan_detail" value="morae" checked/>
                                    <label for="morae">{mora}</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" id="gaRas" name="scan_detail" value="gaRas" checked/>
                                    <label for="gaRas">[gaṇa]</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="checkbox" id="alignment" name="scan_detail" value="alignment" checked/>
                                    <label for="alignment">align</label>
                                </div>
                            </div>
                            </br>
                        </div>

                        <!-- meter identification -->
                        <div class="col-md-3">
                            <input id="identify_meter_button" type="submit" class="btn btn-block btn-primary" value="Identify Meter" onclick="set_action('identify meter');"/>
                            <label for="resplit_option">Re-Split Pādas</label>
                            </br>
                            <select id="resplit_option" name="resplit_option" class="btn-block">
                                <option value="none">none</option>
                                <option value="resplit_lite">resplit lite</option>
                                <option value="resplit_lite_keep_mid" checked>resplit lite keep mid</option>
                                <option value="resplit_max">resplit max</option>
                                <option value="resplit_max_keep_mid">resplit max keep mid</option>
                            </select>
                            </br>
                            <input id="identify_meter_whole_file_button" type="submit" class="btn btn-block btn-primary" value="whole file ⇪" onclick="set_action('identify meter');" formaction="/wholeFile"/>
                        	</br>
                        </div>

                        <!-- splitting -->
                        <div class="col-md-3">
                            <input id="split button" type="submit" class="btn btn-block btn-primary" value="Split Words" onclick="set_action('split');"/>
                            <br>
                        <!--<label for="split">Punctuation</label>
                            </br>
                            <select name="prsrv_punc" id="prsrv_punc" class="btn-block">
                                <option value="preserve">preserve</option>
                                <option value="preserve">discard</option>
                            </select>
                            </br>-->
                            <input id="split_whole_file_button" type="submit" class="btn btn-block btn-primary" value="whole file ⇪" onclick="set_action('split');" formaction="./wholeFile"/>
                            </br>
                            <input id="apte_links_button" type="submit" class="btn btn-block btn-primary" value="DSAL-Apte links" onclick="set_action('apte links');"/>
                            </br>
                        </div>

                    </div><!-- actions -->

                </div><!-- controls row -->


                <!-- melody player row -->
                <div class="row" id="melodyPlayer" style="visibility: hidden">
                <!-- <div class="row" id="melodyPlayer"> -->

                    <!-- line up below actions -->
                    <div class="col-md-4">
                    </div>

                    <div class="col-md-4">
                        <audio id="audio" controls>
                            <source type="audio/mp3">
                        </audio>
                    </div>

                    <div class="col-md-4">
                        <label for="melody_option">Meter Melody Type Recited by</label>
                        <select id="melody_option" name="melody_option" class="btn-block">
                            {% for melody_option in melody_options %}
                            <option value= "{{melody_option}}">{{melody_option}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div><!-- melody player row -->

                <!-- hidden action menu -->
                <select hidden name="skrutable_action" id="skrutable_action">
                    <option value="transliterate">transliterate</option>
                    <option value="scan">scan</option>
                    <option value="identify meter">identify meter</option>
                    <option value="split">split</option>
                    <option value="apte links">apte links</option>
                </select>

            </form>

        </div><!-- container -->

        <script>

            function swapElementValues(e_1, e_2) {
                var tmp = e_1.value;
                e_1.value = e_2.value;
                e_2.value = tmp;
            }
            function swapTexts() {
                swapElementValues( document.getElementById('text_input'), document.getElementById('text_output') );
            }
            function swapSchemes() {
                if ( document.getElementById('to_scheme').value != 'IASTREDUCED') {
                    swapElementValues( document.getElementById('from_scheme'), document.getElementById('to_scheme') );
                }
            }
            function swapBoth() {
                if ( document.getElementById('to_scheme').value != 'IASTREDUCED') {
                    swapTexts();
                    swapSchemes();
                }
            }

            function initialize_choices() {
                document.getElementById("skrutable_action").value = "{{ skrutable_action }}";
                document.getElementById("from_scheme").value = "{{ from_scheme }}";
                document.getElementById("to_scheme").value = "{{ to_scheme }}";
                if ({{ weights }} != 1) { document.getElementById("weights").checked = false; }
                if ({{ morae }} != 1) { document.getElementById("morae").checked = false; }
                if ({{ gaRas }} != 1) { document.getElementById("gaRas").checked = false; }
                if ({{ alignment }} != 1) { document.getElementById("alignment").checked = false; }
                document.getElementById("resplit_option").value = "{{ resplit_option }}";
                testArray = "{{ melody_options }}";
                if ( testArray.length > 2) {
                    document.getElementById("melody_option").value = "{{ melody_options[0] }}";
                }
            }

            function conditionally_display_examples() {

                                // for some reason value == "..." does not work...
                if (document.getElementById("skrutable_action").value != "transliterate" &&
                    document.getElementById("skrutable_action").value != "scan" &&
                    document.getElementById("skrutable_action").value != "identify meter" &&
                    document.getElementById("skrutable_action").value != "split" &&
                    document.getElementById("skrutable_action").value != "apte links") {

                    document.getElementById("hiddenExample").style.visibility = "visible";

                }
                else {
                    document.getElementById("hiddenActionTitle").style.visibility = "visible";
                }
            }

            var melodySelectElement = document.getElementById("melody_option");
            const audio_prefix = "/assets/melodies/"
            melodySelectElement.addEventListener("change", update_melody);
            function update_melody() {
              var audioElement = document.getElementById("audio");
              var audio_src_selection = melodySelectElement.value
              audio_src_selection = audio_src_selection.replace(/ /g, "-");
              audio_src_selection = audio_src_selection.replace(/\./g, ""); // e.g. for H.V. Nagaraja Rao
              var audio_src_str = audio_prefix +
                                "{{ meter_label }}" +
                                "-" +
                                audio_src_selection +
                                ".mp3";
              audioElement.src = audio_src_str
            }

            function conditionally_display_melody_player() {
                testArray = "{{ melody_options }}";
                if ( testArray.length > 2 ) {
                    document.getElementById("melodyPlayer").style.visibility = "visible";
                }
            }

            window.onload = function() {
                initialize_choices();
                conditionally_display_examples();
                update_melody();
                conditionally_display_melody_player();
            }

            function set_action(new_skr_act) {
                document.getElementById("skrutable_action").value = new_skr_act;
            }

        </script>

    </body>

</html>
