<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

            <h1>next tasks</h1>

            <p>(<b>bold is for version 0</b>)</p>

            <p>Here's what's next (regarding back-end treatment of content):</p>
            <ul>
                <li>improving meter identification for samavṛtta edge cases: viṣamavṛtta, ardhasamavṛtta</li>
                <li>fixing scheme-detection functionality</li>
                <li>enabling no-resplit in whole-file mode (with user-specified character like semicolon, colon, or tab for pāda breaks)</li>
                <li>completing "soft" re-split option (= re-split initialized with user-input)</li>
                <li>adding number-exclusion option to transliteration</li>
                <li>improving meter identification for partial samavṛtta verses in no-split mode</li>
                <li>improving meter identification for partial jāti verses</li>
                <li>adding PyPi (e.g. pip) install functionality for library</li>
                <li>completing incorporation of wrapper for
                <a href="https://github.com/OliverHellwig/sanskrit/tree/master/papers/2018emnlp">Splitter</a></li>
                <li>implementing comprehensive testing with pytest (ongoing)</li>
            </ul>

            <p>And also (regarding web front-end):</p>
            <ul>
                <li>enabling optional toggling-off of virāma-avoidance functionality in GUI</li>
                <li>adding API endpoints with JSON and plain-text output options</li>
                <li>adding mobile version of web-app for better display on smaller devices (maybe?)</li>
            </ul>

            <p>And maybe something you have in mind? <a href="https://uni-leipzig1.academia.edu/TylerNeill">Hit me up</a> and let me know what you think.</p>

            <p>(Done recently: Dec '20 – Jan '21)</p>
            <ul>
                <li>fixed prioritization of multiple possibilities in resplit-mode meter identification</li>
                <li>enabled greater range of scansion detail in whole-file meter identification</li>
                <li>improved mix-and-match flexibility for scansion detail output</li>
                <li>added whole-file analysis in GUI for transliteration and meter identification</li>
                <li>added support for meter identification of anuṣṭubh half-verses</li>
                <li>improved meter identification for samavṛtta edge case: upajāti</li>
                <li>added Prakrit support (so far just ï and ü, e.g., saï >> सइ)</li>
                <li>added transliteration scheme support: ITRANS, WX, "IAST reduced"</li>
                <li>fixed line-end vowel-truncation error for transliteration from Indic (e.g., चातुर >> cātur)</li>
            </ul>

        </div><!-- /.container -->

    </body>

</html>