<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="col-md-11">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="./about">back to about</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">

            <h1>next tasks</h1>

            <p>(<b>bold is for version 0</b>)</p>

            <p>Here's what's next (regarding back-end treatment of content):</p>
            <ul>
                <li><b>fixing prioritization of multiple possibilities in resplit-mode meter identification
                (e.g., perfect upajāti passed over in favor of imperfect samavṛtta) 🐞</b></li>
                <li>enable no-resplit in whole-file mode (with user-specified character like semicolon, colon, or tab for pāda breaks)</li>
                <li>completing "soft" re-split option (= re-split initialized with user-input), adding to GUI</li>
                <li>adding number-exclusion option to transliteration</li>
                <li>fixing scheme-detection functionality, adding to GUI as fourth function</li>
                <li>improving meter identification for partial samavṛtta verses in no-split mode</li>
                <li>improving meter identification for partial jāti verses (?)</li>
                <li>improving meter identification for samavṛtta edge cases: viṣamavṛtta, ardhasamavṛtta</li>
                <li>adding PyPi (e.g. pip) install functionality for library</li>
                <li>completing incorporation of wrapper for
                <a href="https://github.com/OliverHellwig/sanskrit/tree/master/papers/2018emnlp">Splitter</a>,
                adding to GUI as fifth function</li>
                <li>implement comprehensive testing with pytest (ongoing)</li>
            </ul>

            <p>And also (regarding web front-end):</p>
            <ul>
                <li><b>improving mix-and-match flexibility for scansion detail output (causing some errors in no-split meter identification) 🐞</b></li>
                <li><b>enable greater range of scansion detail output in "whole file" mode</b></li>
                <li>enabling optional toggling-off of virāma-avoidance functionality in GUI</li>
                <li>adding API endpoints with JSON and plain-text output options</li>
                <li>adding mobile version of web-app for better display on smaller devices (maybe?)</li>
            </ul>

            <p>And maybe something you have in mind? <a href="https://uni-leipzig1.academia.edu/TylerNeill">Hit me up</a> and let me know what you think.</p>

            <p>(Done recently)</p>
            <ul>
                <li>added whole file analysis in GUI for transliteration and meter identification (latter currently auto-re-split only)</li>
                <li>added support for meter identification of anuṣṭubh half-verses</li>
                <li>improved meter identification for samavṛtta edge case: upajāti (currently only triṣṭubh)</li>
                <li>added Prakrit support (so far just ï and ü, e.g., saï >> सइ)</li>
                <li>added transliteration scheme support: ITRANS, WX, "IAST reduced"</li>
                <li>fixed line-end vowel-truncation error for transliteration from Indic (e.g., चातुर >> cātur)</li>
            </ul>

        </div><!-- /.container -->

    </body>

</html>