<br><br>

<h1>$query_id<small>($query_section)</small></h1>

<div class="row">

	<div class="col-md-2">
		<form method="get" action="doc_search">
			<input type="hidden" name="doc_id_input" value="$prev_doc_id" />
			<input type="submit" class="btn btn-block btn-primary" value="<< $prev_doc_id" />
		</form>
	</div>

	<div class="col-md-2">
		<form method="get" action="doc_search">
			<input type="hidden" name="doc_id_input" value="$next_doc_id" />
			<input type="submit" class="btn btn-block btn-primary" value="$next_doc_id >>" />
		</form>
	</div>

</div>

<div class="row">

	<div class="col-md-6">
		<h2>original text</h2>
		<br><br>
		<p>$query_original_fulltext</p>
		<br><br>
	</div>

	<div class="col-md-6">
		<h2>segmented text</h2>
		<br><br>
		<p>$query_segmented_fulltext</p>
		<br><br>
	</div>

</div>

<div class="row">

	<div class="col-md-4">
		<h2>Topic Features</h2>
		<br><br>
		<img id="plot" src="/assets/pramanaNLP/doc_plot_pngs/$query_id.png" alt="oops" width="400" height="280">
	</div>

	<div class="col-md-4">
		<h2>Priority Similarity <small>(topic, tf-idf)</small></h2>
		<br>
		$priority_results_list_content
	</div>

	<div class="col-md-4">
		<h2>Secondary Similarity <small>(topic)</small></h2>
		<br>
		$secondary_results_list_content
	</div>

</div>