<html>
    <head>
        {% include 'head_default.html' %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visible action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visible example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->

        </nav>

        <div class="container">

            <h1>Reciters of Sanskrit Meter Melodies</h1>

            <p>
              🙏 Several scholars skilled in reciting Sanskrit are featured on this website. 🙏
              When a meter is succcessfully identified in the online interface,
              all available melodies (see table below) are displayed in a media player at the bottom
              (two examples: <a href="ex2">anuṣṭubh</a>, <a href="ex3">mālinī</a>).
              The first three scholars kindly gave special permission for this use of their privately recorded sound files,
              and sound files for the latter two were found already online.
              I hope that users of the site find the diversity of voices as enriching as I have.
            </p>
            <table id='reciters_available_melodies' class='display'>
              <thead>
                <tr>
                  <th style="white-space:normal; width:1500px;">Reciter</th>
                  <th style="white-space:normal; width:1500px;">Meters Available</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="white-space:normal; width:500px;"><a href="https://www.aiislanguageprograms.org/lp/sanskrit" target='_blank'>Dr. Madhura Godbole</a>: Program Head for Sanskrit, Prakrit & Pali, AIIS, Pune</td>
                  <td style="white-space:normal; width:2000px;">anuṣṭubh āryā upagīti upajāti drutavilambita mālinī vasantatilakā śārdūlavikrīḍita śikhariṇī</td>
                </tr>
                <tr>
                  <td style="white-space:normal; width:500px;"><a href="https://www.sai.uni-heidelberg.de/abt/IND/en/mitarbeiter/das/das.php" target='_blank'>Dr. Sadananda Das</a>: Sanskrit Lecturer, Leipzig University</td>
                  <td style="white-space:normal; width:2000px;">āryā indravajrā upajāti pañcacāmara pṛthvī mālinī vasantatilakā śārdūlavikrīḍita śikhariṇī śravaṇābharaṇa sragviṇī</td>
                </tr>
                <tr>
                  <td style="white-space:normal; width:500px;"><a href="https://www.orinst.ox.ac.uk/people/diwakar-acharya#/" target='_blank'>Dr. Diwakar Acharya</a>: Spalding Professor of Eastern Religions and Ethics, University of Oxford</td>
                  <td style="white-space:normal; width:2000px;">anuṣṭubh āryā indravajrā upajāti drutavilambita mandākrāntā śārdūlavikrīḍita śikhariṇī</td>
                </tr>
                <tr>
                  <td style="white-space:normal; width:500px;"><a href="https://en.wikipedia.org/wiki/Shatavadhani_Ganesh" target='_blank'>Dr. Shatavadhani Ganesh</a>: avadhāna artist, author (<a href="https://www.youtube.com/playlist?list=PLABJEFgj0PWVXr2ERGu2xtoSXrNdBs5xS">on YouTube</a>)</td>
                  <td style="white-space:normal; width:2000px;">anuṣṭubh aparavaktra aśvadhāṭī āryā indravaṃśa udgatā upajāti aupacchandasika kokilaka cārucāmara toṭaka drutavilambita pañcacāmara puṣpitāgrā pṛthvī praharṣiṇī bhujaṅgaprayāta mañjubhāṣiṇī mandākrāntā mallikāmālā mālinī rathoddhatā vaṃśastha vasantatilakā viyoginī śārdūlavikrīḍita śālinī śikhariṇī śivatāṇḍava sragdharā sragviṇī svāgatā hariṇī</td>
                </tr>
                <tr>
                  <td style="white-space:normal; width:500px;"><a href="https://iias.huji.ac.il/people/test-rao-0" target='_blank'>Dr. H.V. Nagaraja Rao</a>: Oriental Research Institute, Mysore, emeritus (<a href="https://archive.org/details/sanskritmeters_201810">on Archive</a>)</td>
                  <td style="white-space:normal; width:2000px;">anuṣṭubh aparavaktra upajāti aupacchandasika kokilaka gīti pṛthvī pramuditavadanā pramitākṣara praharṣiṇī mañjubhāṣiṇī mattamayūra mandākrāntā mālinī vasantatilakā śārdūlavikrīḍita śālinī śikhariṇī sragdharā</td>
                </tr>
              </tbody>
            </table>
        </div><!-- /.container -->


    <script>
		$(document).ready( function () {

	    	$('#reciters_available_melodies').DataTable( {
          "paging":   false,
          "ordering": false,
          "info":     false
         } );

		} );
	</script>

  </body>

</html>
