<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

            <h1>scan GRETIL</h1>

            <p>One way you can help improve the world's stock of digital Sanskrit data
            is to use <b>skrutable</b>'s whole-file meter-identification functionality
            to help sniff out and fix textual problems
            and to establish an open meter dataset for reference and benchmarking purposes.</p>

            <h2>how-to</h2>

            <p>Your results are going to be only as good as your input data,
            and in order to be able to do anything with your results,
            you're obviously going to need to already know at least a little bit about Sanskrit language and meter (or "prosody").
            However, assuming those two things, then it's really only a matter of having a good tool and some patience.
            Here's one way to go about it.</p>

            <p><b>Step 1</b>: Identify a text you'd like to work on. Go find it online.
            GRETIL texts include some of the highest-quality ones around and are relatively easy to work with, so they're a good starting point.
            For example: The Bhagavadgītā (BhG) (<a href="http://gretil.sub.uni-goettingen.de/gretil/1_sanskr/2_epic/mbh/ext/bhgce__u.htm">raw GRETIL file</a>)</p>
            <p><b>Step 2</b>: Clean up the file so that it is a text file with exactly one (potential) whole verse per line. Half of an anuṣṭubh śloka is ok, too.
            For example:
            <a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/BhG_input_cleaned.txt">BhG input cleaned</a></p>
            <p><b>Step 3</b>: Submit the cleaned file to <b>skrutable</b>'s meter identifier using the "whole file" button.
            <b>skrutable</b> is <i>really</i> fast, so the 700 verses of the Gītā don't take long at all:
            <a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/BhG_output_raw.txt">BhG raw output</a>
            &gt;&gt;
            <a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/BhG_output_cleaned.txt">BhG output cleaned</a>
            </p>
            <p><b>Step 4</b>: Now read through the results, looking for irregularities (you can use regexes to search more effectively). Where there's a metrical problem, there's usually a textual problem.</p>
            
            <p>As it turns out, the BhG is in pretty good shape. But consider for example the Rāmāyaṇa:
            (<a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/R_input_cleaned_(ram_1-7u_htm_Dec_2018_semicolons).htm">raw in</a>), (<a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/R_input_cleaned.txt">clean in</a>), (<a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/R_output_raw_none_lite_conditional.txt">raw out</a>), (<a href="R_output_cleaned_none_lite_conditional.txt">clean out</a>), (<a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/R_breakdown_and_problems.txt">breakdown and problems</a>)

            </p>
            <p><b>Step 5</b>: Now, if you can, try to come up with solutions for the textual problems, one-by-one.
                <ul>
                    <li>Is something wrong with the digital text itself?</li>
                    <li>Or with the edition (or editions) the digital text is based on?</li>
                    <li>Or is <b>skrutable</b> doing something wrong?</li>
                    <li>Maybe something even more interesting?</li>
                </ul>
            <p>

            <p>If you want, share your results with me or others.
            I'll post any and all <a href="./scanGRETILresults">cumulative results here</a>.
            This takes time, patience, and expert knowledge — preparing data, scrutinizing each problem verse, and so on — so it definitely needs to be a team effort!</p>

            <p>And if you were able to make improvements to the text, you can send it on back to GRETIL. I'm happy to help you do that, if need be.</p>

            Intrigued? Flabbergasted? <a href="https://uni-leipzig1.academia.edu/TylerNeill">Write me!</a> We'll talk.</p>

        </div><!-- /.container -->

    </body>

</html>
