{% extends 'base.html' %}
{% set active_page = 'gretil' %}

{% block content %}
	<div>

		<h1>scan GRETIL results</h1>
		<br/>

		<h2>summary table</h2>
		<p>(<a href="{{parent_dir}}/concise_freq_summary.pdf">download pdf</a>)</p>

		<br/>

		<h2>data downloads</h2>
		<p>(<a href="https://github.com/tylergneill/skrutable_front_end/tree/main/assets/meter_analyses" target="_blank">also on GitHub<svg class="ext-link-icon" viewBox="0 0 10 10" aria-hidden="true"><path d="M1 9 L9 1 M5 1 L9 1 L9 5" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg></a>)</p>

		<div class="table-scroll">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>ALL (zipped)</th>
					<th>Bhagavadg&#299;t&#257;</th>
					<th>R&#257;m&#257;ya&#7751;a</th>
					<th>Sattas&#257;&#299;</th>
					<th>Pram&#257;&#7751;av&#257;rtika</th>
					<th>Bodhic&#257;ry&#257;vat&#257;ra</th>
					<th>Kath&#257;sarits&#257;gara</th>
					<th>Kir&#257;t&#257;rjun&#299;ya</th>
					<th>Kum&#257;rasa&#7747;bhava</th>
					<th>Mah&#257;bh&#257;rata</th>
					<th>Mah&#257;subh&#257;&#7779;ita-sa&#7747;graha</th>
					<th>M&#257;lat&#299;m&#257;dhava</th>
					<th>M&#363;lamadhyamaka-k&#257;rik&#257;</th>
					<th>Meghad&#363;ta</th>
					<th>Pa&#241;catantra</th>
					<th>Pram&#257;&#7751;av&#257;rtika-ala&#7747;k&#257;ra</th>
					<th>Pram&#257;&#7751;avini&#347;caya</th>
					<th>Raghuva&#7747;&#347;a</th>
					<th>R&#257;modanta</th>
					<th>&#346;atakatraya</th>
					<th>&#346;i&#347;up&#257;lavadha</th>
					<th>&#346;lokav&#257;rtika</th>
					<th>Tattvasa&#7747;graha</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Input, raw</th>
					<td><a href="{{parent_dir}}/{{dir1}}/all.zip">all_in_raw</a></td>
					<td><a href="http://gretil.sub.uni-goettingen.de/gretil/1_sanskr/2_epic/mbh/ext/bhgce__u.htm" target="_blank">BhG_in_raw<svg class="ext-link-icon" viewBox="0 0 10 10" aria-hidden="true"><path d="M1 9 L9 1 M5 1 L9 1 L9 5" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg></a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/Ram_input_raw.htm">Ram_in_raw<br />(Dec 2018 semicolons)</a></td>
					<td><a href="http://gretil.sub.uni-goettingen.de/gretil/2_prakrt/halsatsu.htm" target="_blank">SS_in_raw<svg class="ext-link-icon" viewBox="0 0 10 10" aria-hidden="true"><path d="M1 9 L9 1 M5 1 L9 1 L9 5" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg></a></td>
					<td><a href="https://github.com/tylergneill/pramana-nlp/blob/master/data_prep/3_etext_cleaned/dharmakirti_pramanavartika.txt" target="_blank">PV_kk_in_raw<svg class="ext-link-icon" viewBox="0 0 10 10" aria-hidden="true"><path d="M1 9 L9 1 M5 1 L9 1 L9 5" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg></a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/BCA_input_raw.htm">BCA_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/KSS_input_raw.htm">KSS_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/Kir_input_raw.htm">Kir_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/KuS_input_raw.htm">KuS_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/MBh_input_raw.zip">MBh_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/MSS_input_raw.htm">MSS_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/MM_vv_input_raw.md">MM_vv_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/MMK_input_raw.htm">MMK_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/MgD_input_raw.htm">MgD_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/PT_vv_input_raw.htm">PT_vv_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/PVA_kk_input_raw.txt">PVA_kk_in_raw</a></td>
					<td></td>
					<td><a href="{{parent_dir}}/{{dir1}}/RVams_input_raw.htm">RVams_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/Ramod_input_raw.htm">Ramod_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/ST_input_raw.htm">ST_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/SV_input_raw.txt">SV_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/SpV_input_raw.htm">SpV_in_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir1}}/TS_input_raw.txt">TS_in_raw</a></td>
				</tr>
				<tr>
					<th>Input, cleaned</th>
					<td><a href="{{parent_dir}}/{{dir2}}/all.zip">all_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/BhG_input_cleaned.txt">BhG_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/Ram_input_cleaned.txt">Ram_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/SS_input_cleaned.txt">SS_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/PV_kk_input_cleaned.txt">PV_kk_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/BCA_input_cleaned.txt">BCA_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/KSS_input_cleaned.txt">KSS_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/Kir_input_cleaned.txt">Kir_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/KuS_input_cleaned.txt">KuS_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/MBh_input_cleaned.txt">MBh_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/MSS_input_cleaned.txt">MSS_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/MM_vv_input_cleaned.txt">MM_vv_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/MMK_input_cleaned.txt">MMK_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/MgD_input_cleaned.txt">MgD_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/PT_vv_input_cleaned.txt">PT_vv_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/PVA_kk_input_cleaned.txt">PVA_kk_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/PVin_kk_input_cleaned.txt">PVin_kk_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/RVams_input_cleaned.txt">RVams_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/Ramod_input_cleaned.txt">Ramod_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/ST_input_cleaned.txt">ST_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/SV_input_cleaned.txt">SV_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/SpV_input_cleaned.txt">SpV_in_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir2}}/TS_input_cleaned.txt">TS_in_cln</a></td>
				</tr>
				<tr>
					<th>Output, raw</th>
					<td><a href="{{parent_dir}}/{{dir3}}/all.zip">all_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/BhG_output_raw.txt">BhG_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/Ram_output_raw.txt">Ram_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/SS_output_raw.txt">SS_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/PV_kk_output_raw.txt">PV_kk_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/BCA_output_raw.txt">BCA_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/KSS_output_raw.txt">KSS_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/Kir_output_raw.txt">Kir_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/KuS_output_raw.txt">KuS_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/MBh_output_raw.txt">MBh_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/MSS_output_raw.txt">MSS_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/MM_vv_output_raw.txt">MM_vv_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/MMK_output_raw.txt">MMK_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/MgD_output_raw.txt">MgD_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/PT_vv_output_raw.txt">PT_vv_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/PVA_kk_output_raw.txt">PVA_kk_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/PVin_kk_output_raw.txt">PVin_kk_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/RVams_output_raw.txt">RVams_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/Ramod_output_raw.txt">Ramod_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/ST_output_raw.txt">ST_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/SV_output_raw.txt">SV_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/SpV_output_raw.txt">SpV_out_raw</a></td>
					<td><a href="{{parent_dir}}/{{dir3}}/TS_output_raw.txt">TS_out_raw</a></td>
				</tr>
				<tr>
					<th>Output, cleaned</th>
					<td><a href="{{parent_dir}}/{{dir4}}/all.zip">all_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/BhG_output_cleaned.txt">BhG_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/Ram_output_cleaned.txt">Ram_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/SS_output_cleaned.txt">SS_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/PV_kk_output_cleaned.txt">PV_kk_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/BCA_output_cleaned.txt">BCA_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/KSS_output_cleaned.txt">KSS_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/Kir_output_cleaned.txt">Kir_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/KuS_output_cleaned.txt">KuS_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/MBh_output_cleaned.txt">MBh_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/MSS_output_cleaned.txt">MSS_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/MM_vv_output_cleaned.txt">MM_vv_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/MMK_output_cleaned.txt">MMK_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/MgD_output_cleaned.txt">MgD_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/PT_vv_output_cleaned.txt">PT_vv_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/PVA_kk_output_cleaned.txt">PVA_kk_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/PVin_kk_output_cleaned.txt">PVin_kk_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/RVams_output_cleaned.txt">RVams_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/Ramod_output_cleaned.txt">Ramod_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/ST_output_cleaned.txt">ST_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/SV_output_cleaned.txt">SV_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/SpV_output_cleaned.txt">SpV_out_cln</a></td>
					<td><a href="{{parent_dir}}/{{dir4}}/TS_output_cleaned.txt">TS_out_cln</a></td>
				</tr>
				<tr>
					<th>Verse Type Tallies</th>
					<td><a href="{{parent_dir}}/{{dir5}}/all.zip">all_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/BhG_tallies.tsv">BhG_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/Ram_tallies.tsv">Ram_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/SS_tallies.tsv">SS_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/PV_kk_tallies.tsv">PV_kk_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/BCA_tallies.tsv">BCA_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/KSS_tallies.tsv">KSS_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/Kir_tallies.tsv">Kir_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/KuS_tallies.tsv">KuS_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/MBh_tallies.tsv">MBh_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/MSS_tallies.tsv">MSS_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/MM_vv_tallies.tsv">MM_vv_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/MMK_tallies.tsv">MMK_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/MgD_tallies.tsv">MgD_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/PT_vv_tallies.tsv">PT_vv_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/PVA_kk_tallies.tsv">PVA_kk_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/PVin_kk_tallies.tsv">PVin_kk_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/RVams_tallies.tsv">RVams_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/Ramod_tallies.tsv">Ramod_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/ST_tallies.tsv">ST_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/SV_tallies.tsv">SV_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/SpV_tallies.tsv">SpV_tallies</a></td>
					<td><a href="{{parent_dir}}/{{dir5}}/TS_tallies.tsv">TS_tallies</a></td>
				</tr>
				<tr>
					<th>Notes</th>
					<td><a href="{{parent_dir}}/{{dir6}}/all.zip">all_notes</a></td>
					<td></td>
					<td><a href="{{parent_dir}}/{{dir6}}/Ram_notes.txt">Ram_notes</a></td>
					<td><a href="{{parent_dir}}/{{dir6}}/SS_notes.txt">SS_notes</a></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		</div>

		<p>Compare also <a href="http://sanskritmetres.appspot.com/statistics" target="_blank">this similar effort<svg class="ext-link-icon" viewBox="0 0 10 10" aria-hidden="true"><path d="M1 9 L9 1 M5 1 L9 1 L9 5" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg></a> by Shreevatsa Rajagopalan
		[<a href="http://sanskritmetres.appspot.com/" target="_blank">1<svg class="ext-link-icon" viewBox="0 0 10 10" aria-hidden="true"><path d="M1 9 L9 1 M5 1 L9 1 L9 5" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
		<a href="http://shreevatsa.appspot.com/" target="_blank">2<svg class="ext-link-icon" viewBox="0 0 10 10" aria-hidden="true"><path d="M1 9 L9 1 M5 1 L9 1 L9 5" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg></a>]
		on 16,000+ verses of poetry.</p>

	</div>
{% endblock %}
