<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

            <h1>how to use skrutable</h1>

            <p>First thing: Try starting with the
            <a href="./ex1" target="_blank" rel="noopener noreferrer"><i>dharmakṣetre</i> example</a> (opens in new tab). This sets Gītā 1.1 as the input in IAST Romanization and transliterates it to Devanāgarī.</p>

            <p>For different transliteration output, use the "Output scheme" dropdown 
            and click "Transliterate" again.
            To learn about supported transliteration schemes, visit
            <a href="https://github.com/tylergneill/skrutable/blob/master/manual.md#transliteration-schemes">the <b>skrutable</b> manual on Github</a>.
            You can also use the "Swap" buttons to move things around as needed.</p>

            <p>Now click between the "Transliterate", "Scan", and "Identify Meter" buttons to calculate and display <b>skrutable</b>'s three basic outputs.</p>

            <p>Scansion is line-by-line, and it doesn't matter how many lines or how much content you enter.
            This mode is especially good for fiddling and exploring.</p>

            <p>Meter identification, by contrast, effectively requires four lines of content,
            corresponding to four verse quarters or <i>pādas</i>.
            You should use this mode when you believe you're dealing with a whole verse
            (half an anuṣṭubh śloka works, too).</p>

            <p>You can use the "Re-Split Pādas" dropbox to decide whether to use your own line breaks 
            or to let <b>skrutable</b> try and find them for you.
            The option "resplit_max" uses the most brute force and requires the least thought, 
            while "resplit_lite" better respects whatever line breaks (or ';' or ' / ') you provide.
            Or, choose "none" in order to evaluate exactly the (necessarily four!) lines you input.</p>

            <p>Definitely also try changing the mix-and-match detail options below "Scan".
            This also works for the whole-file mode described below.</p>

            <p>To learn more about working with Sanskrit meter, the
            <a href="https://github.com/tylergneill/skrutable/blob/master/manual.md#scansion-and-meter-identification">
            <b>skrutable</b> manual on GitHub</a> provides some very basic pointers.</p>

            <h2>whole-file processing</h2>

            <p>If you're feeling more ambitious, you can also do transliteration and meter identification on whole files.</p>

            <p>For transliteration, just set your input and output schemes as normal, but then instead of hitting the "Transliterate" button, hit the "whole file" button underneath. 
            Continue through the next screen to upload your file, then look for the output in your usual download location.</p>

            <p>Doing whole-file metrical analysis is similar, but the input must be more carefully prepared.
            See the <a href="./scanGRETIL">"Scan GRETIL"</a> page to get a better idea of what this entails.</p>

            <p>If you want to try out these whole-file functions right away, you can use these prepared input files:
            <ul>
                <li><a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/BhG_1-10_input_cleaned.txt">BhG first ten</a></li>
                <li><a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/BhG_1-100_input_cleaned.txt">BhG first hundred</a></li>
                <li><a href="https://www.pythonanywhere.com/user/skrutable/files/home/skrutable/mysite/scanGRETIL/BhG_input_cleaned.txt">BhG all</a></li>
            </ul>
            </p>

        </div><!-- /.container -->

    </body>

</html>
