<html>
    <head>
{% include 'head_default.html' %}
    </head>

    <body>

{% include 'nav.html' %}

        <div class="container">

            <h1>significant past updates</h1>

            <p>(Sept '24)</p>
            <ul>
                <li>added new settings "⚙️" page</li>
                <li>improved settings reset behavior with separate "↻" button (formerly conflated with "home" action of "skrutable" button)</li>
                <li>renamed help "?" page (from "tutorial")</li>
                <li>reorganized nav bar</li>
                <li>added avoid-virāma setting for Indic-script transliteration output</li>
                <li>added preserve-punctuation setting for word splitting</li>
                <li>added new Dharmamitra splitter-model setting</li>
                <li>added preserve-compound-hyphen setting for splitting with Dharmamitra model</li>
            </ul>

            <p>(Aug '24)</p>
            <ul>
                <li>Updated this updates page</li>
            </ul>

            <p>(Jul '24)</p>
            <ul>
                <li>completed server migration by deactivating on PythonAnywhere (except separate splitter server)</li>
                <li>massively expanded amount of text UI input box can handle (64mb rather than 4kb)</li>
                <li>partially fixed upload problem with non-ASCII filenames</li>
            </ul>

            <p>(May '24)</p>
            <ul>
                <li>completed PyPi refactor of library</li>
                <li>added single-pāda samavṛtta identification (API only)</li>
                <li>released <a href="https://pypi.org/project/skrutable/1.3.0/">v1.3.0 on PyPi</a></li>
                <li>completed Dockerization of front end</li>
                <li>deployed duplicate server on Digital Ocean Droplet (ultimately kept)</li>
            </ul>

            <p>(Mar '24)</p>
            <ul>
                <li>began Dockerization of front end</li>
                <li>experimented with serving on Heroku (ultimately did not pursue)</li>
            </ul>

            <p>(Jan '23)</p>
            <ul>
                <li>added <a href="./api">API endpoints</a></li>
                <li>added PyPi (e.g. pip) install functionality for library, <a href="https://pypi.org/project/skrutable/1.2.0/">v1.2.0</a></li>
                <li>released <a href="https://github.com/tylergneill/skrutable/releases/tag/v1.2.0">v1.2.0 on Zenodo</a></li>
                <li>
                    prepared second presentation for <a href="https://kaigi.eventsair.com/cmspreview/world-sanskrit-conference/program-information">18th WSC</a>
                    (<a href="https://raw.githubusercontent.com/tylergneill/skrutable_front_end/main/assets/wsc2022/neill_skrutable_wsc_presentation_2023_short.mp4">mp4 ↓ of 20-min version of talk</a>)
                </li>
            </ul>

            <p>(Dec '22)</p>
            <ul>
                <li>switched to using new <a href="https://github.com/tylergneill/splitter_server">separate splitter_server API</a></li>
                <li>fixed /ChicagoApteIAST endpoint for https</li>
            </ul>

            <p>(May '22)</p>
            <ul>
                <li>added hidden /ChicagoApteIAST endpoint to supplement searching DSAL online Apte (e.g. https://skrutable.info/ChicagoApteIAST?query=deva)</li>
            </ul>


            <p>(Jan '22)</p>
            <ul>
                <li>
                    presented project a first time for <a href="https://sanskrit.uohyd.ac.in/18WSC/programme_schedule.html">18th WSC</a>
                    (<a href="https://raw.githubusercontent.com/tylergneill/skrutable_front_end/main/assets/wsc2022/neill_skrutable_wsc_paper_2022.pdf">pdf ↓ of paper</a>;
                    <a href="https://raw.githubusercontent.com/tylergneill/skrutable_front_end/main/assets/wsc2022/neill_skrutable_wsc_presentation_2022_full.mp4">mp4 ↓ of full 36-min talk</a>)
                </li>
            </ul>

            <p>(Nov '21)</p>
            <ul>
                <li>released <a href="https://github.com/tylergneill/skrutable/releases/tag/v1.0.0">v1.0.0 on Zenodo</a></li>
            </ul>

            <p>(Feb–Mar '21)</p>
            <ul>
                <li>implemented basic viṣamavṛtta meter identification</li>
                <li>incorporated recitation melodies with multiple voice options</li>
                <li>wrote up project for <a href="https://www.wsc2021.com.au/">18th WSC (2021/2023)</a></li>
                <li>implemented basic wrapper for
                <a href="https://github.com/OliverHellwig/sanskrit/tree/master/papers/2018emnlp">Splitter</a></li>
            </ul>

            <p>(Jan–Feb '21)</p>
            <ul>
                <li>added whole-file analysis to front end (transliteration, meter identification)</li>
                <li>improved pāda re-splitting ("re-split lite", keep midpoint)</li>
                <li>enabled mix-and-match scansion detail</li>
                <li>added many more meters from Apte</li>
                <li>improved various meter identification categories (upajāti, ardhasamavṛtta, half-anuṣṭubh, etc.)</li>
                <li>added Prakrit support (ï and ü)</li>
                <li>further expanded transliteration (ITRANS, WX, "IAST reduced")</li>
                <li>created mature front end in Flask as separate but coordinated repo, deployed on PythonAnywhere</li>
            </ul>

            <p>(2018–2020)</p>
            <ul>
                <li>created front end prototype with <b>wx</b> Python library</li>
                <li>invented "wiggle iterator" for re-splitting verse lines</li>
                <li>gradually expanded three main functions</li>
            </ul>

            <p>(2015–2017)</p>
            <ul>
                <li>started development on Python library with transliteration, scansion, meter identification</li>
            </ul>

            <br>

            <h1>ideas for future updates</h1>

            <p>Transliteration</p>
            <ul>
                <li>repair scheme-detection functionality</li>
                <li>give user more fine-grained control over virāma-avoidance (i.e., which letter combinations)</li>
                <li>add number-exclusion option to transliteration</li>
                <li>add encoding-standardization function to front-end</li>
                <li>add alphabetization function to front-end</li>
            </ul>

            <p>Meter</p>
            <ul>
                <li>improve partial meter identification: samavṛtta, ardhasamavṛtta, jāti</li>
                <li>add TSV summary output options for meter identification</li>
                <li>implement metrical material detection (maybe)</li>
            </ul>

            <p>Splitting</p>
            <ul>
                <li>fix small bug: Splitter 2018 cuts off buffer-final numbers</li>
                <li>migrate Splitter 2018 server to Digital Ocean (maybe)</li>
                <li>refactor Splitter 2018 server to improve response time (maybe)</li>
            </ul>

            <p>General</p>
            <ul>
                <li>add progress bar to estimate processing time</li>
                <li>continue cleaning up code and improving documentation</li>
                <li>implement more comprehensive testing with pytest</li>
            </ul>

            <p>And maybe something you have in mind? Gmail me at tyler.g.neill and share your ideas.</p>


        </div><!-- /.container -->

    </body>

</html>
