{% extends 'base.html' %}
{% set active_page = 'workbench' %}

{% block content %}
	<div class="page-content whole-file-info">

		<form action="/whole_file" method="POST" enctype="multipart/form-data">

			<h1>whole-file processing</h1>

			<p>Processing mode: <b>{{ skrutable_action }}</b></p>

			{% if skrutable_action == 'transliterate' %}
			<table class="settings-summary">
				<tr><td>input scheme</td><td>{{ from_scheme }}</td></tr>
				<tr><td>output scheme</td><td>{{ to_scheme }}</td></tr>
			</table>

			{% elif skrutable_action == 'scan' %}
			<table class="settings-summary">
				<tr><td>weights</td><td>{{ weights }}</td></tr>
				<tr><td>morae</td><td>{{ morae }}</td></tr>
				<tr><td>ga&#7751;as</td><td>{{ gaRas }}</td></tr>
				<tr><td>alignment</td><td>{{ alignment }}</td></tr>
			</table>

			{% elif skrutable_action == 'identify meter' %}
			<table class="settings-summary">
				<tr><td>weights</td><td>{{ weights }}</td></tr>
				<tr><td>morae</td><td>{{ morae }}</td></tr>
				<tr><td>ga&#7751;as</td><td>{{ gaRas }}</td></tr>
				<tr><td>alignment</td><td>{{ alignment }}</td></tr>
				<tr><td>resplit option</td><td>{{ resplit_option }}</td></tr>
			</table>

			{% elif skrutable_action == 'split' %}
			<table class="settings-summary">
				<tr><td>output scheme</td><td>{{ to_scheme }}</td></tr>
				<tr><td>splitter model</td><td>{{ splitter_model }}</td></tr>
				<tr><td>preserve punctuation</td><td>{{ preserve_punctuation }}</td></tr>
			</table>
			{% endif %}

			<p class="whole-file-tip">Use ASCII-only filenames. Processing may take a few seconds depending on file size.</p>

			<p><input type="file" name="input_file" /></p>
			<p><button type="submit" class="btn">Upload and process</button></p>

		</form>

	</div>
{% endblock %}
