<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="shortcut icon" href="#">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

					<div class="col-md-6">

                        <form action="./wholeFile" method="POST" enctype="multipart/form-data">

                            <p><b>skrutable</b> will "{{ skrutable_action }}" for the whole file.
                            <p>The input transliteration scheme is: {{ from_scheme }}</p>
                            <p>For transliteration, the output scheme is: {{ to_scheme }}.</p>

                            <p><input type="file" name="input_file" class="btn btn-block" /></p>
                            <p><input type="submit" value="Upload" class="btn btn-block btn-primary"/></p>

                            <p>Tips: If you can, make sure the filename is ASCII characters only, to avoid problems.
                            Depending on the size of your file, upload and processing may take a few seconds. There's no progress bar yet, but if your computer seems to be working, just be patient.
                            If you experience problems with very large files (e.g., entire epics),
                            break them up into pieces before you upload.
                            Or, for better performance, if you can handle coding in Python,
                            try installing and running on your own machine
                            (see <a href="https://github.com/tylergneill/skrutable/blob/master/manual.md#using-as-local-web-app">here</a> for how).</p>

                        </form>

					</div>
        </div><!-- container -->

    </body>

</html>
