{% extends 'base.html' %}
{% set active_page = 'whole_file_help' %}

{% block content %}
	<div class="page-content">

		<h1>whole-file processing</h1>

		<p>Skrutable's input window can handle a lot, up to 128mb, but if you're working with large amounts of text,
			you may prefer to upload your input as a file instead.</p>

		<p>To do this for transliteration, just set your input and output schemes as normal,
			but then instead of hitting the "Transliterate" button, hit the "Transliteration" button in the Upload File section.
			Continue through the next screen to upload your file,
			then look for the output in your usual download location.</p>

		<p>Whole-file word splitting is exactly as easy. Just choose your desired settings, then use the "Split" button.
			Note, though, that processing is considerably slower with the more accurate 2024 model than with the older 2018 one when preserving compound hyphens (some <a href="https://tylerneill.info/blog/splitter-options" target="_blank">discussion here</a>).</p>

		<p>Doing whole-file metrical analysis is also somewhat similar, but the input must be more carefully prepared,
			with exactly one verse per line and no extraneous material.
			See the <a href="/scanGRETIL">"Scan GRETIL"</a> page to get a better idea of what this entails.
			Some Bhagavadg&#299;t&#257; files are provided below as good starter examples:
			<ul>
				<li><a href="https://raw.githubusercontent.com/tylergneill/skrutable_front_end/main/assets/meter_analyses/2_input_cleaned/BhG_1-10_input_cleaned.txt">BhG first ten</a></li>
				<li><a href="https://raw.githubusercontent.com/tylergneill/skrutable_front_end/main/assets/meter_analyses/2_input_cleaned/BhG_1-100_input_cleaned.txt">BhG first hundred</a></li>
				<li><a href="https://raw.githubusercontent.com/tylergneill/skrutable_front_end/main/assets/meter_analyses/2_input_cleaned/BhG_input_cleaned.txt">BhG all</a></li>
			</ul>
		</p>

		<p>For OCR, upload a PDF along with your Google Vision API key. See the <a href="/ocr_instructions">OCR instructions</a> for more details.</p>

	</div>
{% endblock %}
