{% extends 'base.html' %}
{% set active_page = 'workbench' %}

{% block content %}
	<div class="page-content whole-file-info">

		<form action="/whole_file" method="POST" enctype="multipart/form-data">

			<h1>whole-file processing</h1>

			<p>Processing mode: {{ skrutable_action }}</p>

			<p>Transliteration settings:</p>
			<ul>
				<li>input scheme: {{ from_scheme }}</li>
				<li>output scheme: {{ to_scheme }} (transliteration and splitting output only)</li>
			</ul>

			<p>Scansion settings:</p>
			<ul>
				<li>show weights: {{ weights }}</li>
				<li>show morae: {{ morae }}</li>
				<li>show ga&#7751;as: {{ gaRas }}</li>
				<li>show alignment: {{ alignment }}</li>
			</ul>

			<p>Meter identification settings:</p>
			<ul>
				<li>resplit option: {{ resplit_option }}</li>
			</ul>

			<p>Splitter settings:</p>
			<ul>
				<li>splitter model: {{ splitter_model }}</li>
				<li>preserve punctuation: {{ preserve_punctuation }}</li>
			</ul>

			<p><input type="file" name="input_file" /></p>
			<p><button type="submit" class="btn btn-primary">Upload</button></p>

			<h2>tips</h2>

			<p>Use ASCII-only filenames to avoid problems.</p>
			<p>Depending on the size of your file, upload and processing may take a few seconds. There's no progress bar yet, but if the computer seems to be working, just be patient, it shouldn't take long.</p>

		</form>

	</div>
{% endblock %}
