<html>
    <head>
{% include 'head_default.html' %}
    </head>

    <body>

{% include 'nav.html' %}

        <div class="container">

					<div class="col-md-6">

                        <form action="./wholeFile" method="POST" enctype="multipart/form-data">

                            <h1>whole-file processing</h1>

                            <p>Processing mode: {{ skrutable_action }}</p>
                            
                            <p>Transliteration settings:</p>
                            <ul>
                                <li>input scheme: {{ from_scheme }}</li>
                                <li>output scheme: {{ to_scheme }} (transliteration output only)</li>
                            </ul>

                            <p>Scansion settings (1 true, 0 false):</p>
                            <ul>
                                <li>show weights: {{ weights }}</li>
                                <li>show morae: {{ morae }}</li>
                                <li>show gaṇas: {{ gaRas }}</li>
                                <li>show alignment: {{ alignment }}</li>
                            </ul>

                            <p>Meter identification settings:</p>
                            <ul>
                                <li>resplit option: {{ resplit_option }}</li>
                            </ul>

                            <p><input type="file" name="input_file" class="btn btn-block" /></p>
                            <p><input type="submit" value="Upload" class="btn btn-block btn-primary"/></p>

                            <h2>Tips</h2>

                            <p>Use ASCII-only filenames to avoid problems.</p>
                            <p>Depending on the size of your file, upload and processing may take a few seconds. There's no progress bar yet, but if the computer seems to be working, just be patient, it shouldn't take long.</p>
                            <p>You can also install and run locally on your own machine. See <a href="https://github.com/tylergneill/skrutable/blob/main/src/skrutable/manual.md#using-as-local-web-app">here</a> for how.</p>

                        </form>

					</div>
        </div><!-- container -->

    </body>

</html>
