<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="shortcut icon" href="#">

        <title>skrutable</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./reset">skrutable</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenActionTitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ skrutable_action }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

					<div class="col-md-6">

                        <form action="./wholeFile" method="POST" enctype="multipart/form-data">

                            <h1>whole-file processing</h1>

                            <p>Processing mode: {{ skrutable_action }}</p>
                            
                            <p>Transliteration settings:</p>
                            <ul>
                                <li>input scheme: {{ from_scheme }}</li>
                                <li>output scheme: {{ to_scheme }} (transliteration output only)</li>
                            </ul>

                            <p>Scansion settings (1 true, 0 false):</p>
                            <ul>
                                <li>show weights: {{ weights }}</li>
                                <li>show morae: {{ morae }}</li>
                                <li>show gaṇas: {{ gaRas }}</li>
                                <li>show alignment: {{ alignment }}</li>
                            </ul>

                            <p>Meter identification settings:</p>
                            <ul>
                                <li>resplit option: {{ resplit_option }}</li>
                            </ul>

                            <p><input type="file" name="input_file" class="btn btn-block" /></p>
                            <p><input type="submit" value="Upload" class="btn btn-block btn-primary"/></p>

                            <h2>Tips</h2>

                            <p>Use ASCII-only filenames to avoid problems.</p>
                            <p>Depending on the size of your file, upload and processing may take a few seconds. There's no progress bar yet, but if the computer seems to be working, just be patient, it shouldn't take long.</p>
                            <p>You can also install and run locally on your own machine. See <a href="https://github.com/tylergneill/skrutable/blob/master/manual.md#using-as-local-web-app">here</a> for how.</p>

                        </form>

					</div>
        </div><!-- container -->

    </body>

</html>
